{{#if successMessage}}
<div class="success-message">
    <p>Your route was saved successfully!</p>
</div>

<script>
    setTimeout(function () {
            document.querySelector('.success-message').classList.add('hide');
        }, 5000);
</script>

{{/if}}
<h2>Trekking Routes</h2>
{{#if trails}}
<div class="routes-container">
    <div class="route-parent new">
        <span class="material-symbols-outlined create">
            add_circle
        </span>
        <p>NEW TRAIL</p>
    </div>
    {{#each trails}}
    <div class="route-parent">
        <div class="route-title">
            <h4>{{this.name}}</h4>
        </div>
        <div class="route-parent-detail">
            <p><span class="shadow">Difficulty: </span> {{this.difficulty}}</p>
            <p><span class="shadow">Distance:</span> {{this.distance}} Km</p>
            <p><span class="shadow">Duration:</span> {{this.duration}} Hrs</p>
            <p><span class="shadow">{{this.country}}</span></p>
            <a href="/trails/{{this._id}}">See more</a>
        </div>

    </div>
    {{/each}}
    {{/if}}
</div>
